html, body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	overflow: auto;
}

a {
	color: blue;
}

a:visited {
	color: blue;
}

#branding {
	padding: 1em 1em 3em 2em;
 	background-color: #C7C5ED;
	border-bottom: 1px solid black;
	height: 6em;
}
#branding a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
#branding a h1 {
	line-height: 0.8em;
}

#branding a img {
	height: 4em;
	float: left;
}

#branding p {
	padding-left: 0.65em;
}


#links {
	float: right;
	overflow: auto;
	width: 10em;
	margin: 0;
	padding: 2em;
}



#tabs {
	clear: left;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	margin-top: -2.1em;
}
#tabs li {
	float: left;
	padding: 0.4em 1em;
	border: 1px solid #000;
	margin: 0 0.5em;
	position: relative;
	overflow: visible;
	border-bottom: 0 none;
	background-color: white;
	border-bottom: 1px solid black;
}
#tabs li.selected {
	border-bottom: 1px solid white;
}





#network {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	margin-top: -2.1em;
}

#network li {
	float: left;
	padding: 0.4em 1em;
	border: 1px solid #000;
	margin: 0 0.5em;
	position: relative;
	overflow: visible;
	border-bottom: 0 none;
	background-color: white;
	border-bottom: 1px solid black;
	background-color: #9896BF;
	color: white;
	border: 0 none;
}

#network li.selected {
	border-bottom: 1px solid white;
}



#meta {
	width: 22em;
	padding: 1em;
	background-color: white;
	width: 30vw;
	box-sizing: border-box;
	border-left: 1px solid black;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 10em;
	border-top: 1px solid black;
}


#content {
	width: 70vw;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	position: absolute;
	left: 0;
	right: 30vw;
	bottom: 0;
	top: 10em;
}

#content li {
	font-size: 1.2em;
	padding: 0.6em;
	border-bottom: 1px solid black;
}

#content li:before {
	content: attr(data-index);
	margin-right: 1em;
}

